//Colors
$lightgrey: #ffffff;
$dark-grey: #464646;
$lime-green: #64e764;
$sherbert: #FF9D00;
$danger: red;

//color uses
$site-background: $lightgrey;
$text-dark: $dark-grey;
$asset-border-bottom: $text-dark;
$asset-detail-btn-back: $lime-green;
$edit-asset-btn: $sherbert;
$delete-asset-btn: $danger;
//fonts
@import url('https://fonts.googleapis.com/css?family=Adamina|Raleway');
$base-font-size: 16px;
$serif-stack: Adamina, serif;
$sans-serif-stack: Raleway, sans-serif;

//layout variables
$site-max-width: 1440px;
$content-max-width: 1280px;

//breakpoints
