//Colors
$black: black;
$blue: dodgerblue;
$danger: red;
$dark-grey: #464646;
$grey: grey;
$lime-green: #64e764;
$lightgray: lightgray;
$lightergray: #e6e6e6;
$sherbert: #ff9d00;
$white-variant-1: ghostwhite;
$white-variant-2: #f1f1f1;

//color uses
$asset-border-bottom: $dark-grey;
$asset-add-btn: $lime-green;
$asset-detail-btn: $blue;
$asset-edit-btn: $sherbert;
$asset-create-form: $lightergray;
$asset-create-form-border: $lightgray;
$asset-delete-btn: $danger;
$asset-required: $danger;
$body-color: $black;
$site-background: $white-variant-1;
$table-background: white;
$table-stripe: $white-variant-2;
$text-dark: $dark-grey;
$sort-asset-btn-hover: $sherbert;

//fonts
@import url('https://fonts.googleapis.com/css?family=Adamina|Raleway');
$base-font-size: 16px;
$serif-stack: Adamina, serif;
$sans-serif-stack: Raleway, sans-serif;

//layout variables
$site-max-width: 1440px;
$content-max-width: 1280px;

//breakpoints
