.page-title {
	text-align: center;
}

//index route
.asset-index {
	.index-table {
		background-color: $table-background;
		border-collapse: collapse;
		margin: 0 auto;

		thead {
			border-bottom: 1px solid $asset-border-bottom;

			th {
				padding: 0.5rem 1rem;
				font-family: $serif-stack;
				font-weight: 100;
			}
		}

		tbody {
			tr:nth-child(odd) {
				background-color: $table-stripe;
			}

			//text-alignment on table body td's
			.asset-number, .asset-purchase-date, .asset-details-btn, .asset-edit-btn {
				text-align: center;
			}

			.asset-amount {
				text-align: right;
			}

			td {
				line-height: 2rem;
				padding: 0 1rem;

				&.asset-details-btn {
					a {
						@include asset-btn($asset-detail-btn, 0.875rem);
					}
				}

				&.asset-edit-btn {
					a {
						@include asset-btn($asset-edit-btn, 0.875rem);
					}
				}
			}
		}
	}

	.add-asset-btn {
		margin: 1rem 0;
		text-align: center;

		a {
			@include asset-btn($asset-add-btn, 1.25rem);
			display: inline-block;
			padding: 0.5rem 1rem;

			svg {
				color: white;
			}

			&:hover {
				svg {
					color: $asset-add-btn;
				}
			}
		}
	}
}

//show route
.asset-show {
	.asset-wrapper {
		.asset-details {
			margin: 0 auto;
			font-size: 1.5rem;
			width: 50%;

			li + li {
				margin-top: 0.5rem;
			}
		}
	}

	.btn-wrapper {
		display: flex;
		justify-content: flex-start;
		margin: 0 auto;
		padding: 1rem 0;
		width: 50%;
	}

	.asset-edit-btn {
		@include asset-btn($asset-edit-btn);
	}

	.asset-delete-form {
		margin: 0;

		.asset-delete-btn {
			@include asset-btn($asset-delete-btn);
			margin-left: 2rem;
		}
	}
}

//create & edit routes
.asset-create,
.asset-edit {
	.asset-wrapper {
		.asset-details {
			background-color: $asset-create-form;
			border-color: $asset-create-form-border;
			border-radius: 5px;
			border-style: solid;
			border-width: 1px;
			margin: 0 auto;
			padding: 1rem;
			width: 50%;

			//avoid applying top margin to form groups within date wrapper
			> .form-group {
				margin-top: 1rem;
			}

			label {
				color: $text-dark;
				display: block;
				font-weight: bold;
			}

			.form-control {
				border: 1px solid lightsteelblue;
				color: $text-dark;
				display: block;
				font-family: $sans-serif-stack;
				font-weight: 100;
				padding: 0.5rem 1rem;
				width: 100%;
			}

			.date-wrap {
				display: flex;
				justify-content: space-between;
			}

			.btn-wrapper {
				display: flex;
				justify-content: space-around;

				.asset-submit-btn {
					@include asset-btn($asset-add-btn);
					font-weight: 100;
					padding: 0.5rem 0;
					text-align: center;
					width: 25%;
				}

				.asset-cancel-btn {
					@extend .asset-submit-btn;
					background-color: grey;
					border-color: grey;

					&:hover {
						color: grey;
					}
				}
			}
		}
	}
}

.asset-edit {
	.asset-delete-form {
		margin: 0 auto;
		text-align: center;
		width: 50%;

		.asset-delete-btn {
			@include asset-btn($danger);
			padding: 0.5rem 0;
			margin: 1rem 0;
			width: 25%;
		}
	}
}