.page-title {
	text-align: center;
}

.index-table {
	border-collapse: collapse;
	margin: 0 auto;

	thead {
		border-bottom: 1px solid $asset-border-bottom;

		th {
			font-family: $serif-stack;
			font-weight: 100;
		}
	}

	tbody {
		td {
			line-height: 2rem;
			padding: 0 1.5rem;

			&.asset-amount {
				text-align: right;
			}

			&.asset-details-btn {
				padding-right: 2rem;

				a {
					@extend %asset-btn;
					background-color: $asset-detail-btn-back;

					&:hover {
						background-color: lighten($asset-detail-btn-back, 5%);
					}
				}
			}

			&.edit-asset-btn {
				padding-left: 2rem;

				a {
					@extend %asset-btn;
					background-color: $edit-asset-btn;

					&:hover {
						background-color: lighten($edit-asset-btn, 5%);
					}
				}
			}
		}
	}
}
