body {
	background-color: $site-background;
	font-family: $sans-serif-stack;
	font-weight: 100;
	max-width: $site-max-width;
}

div.content-wrapper {
	margin: 1rem auto 0;
	max-width: $content-max-width;
}

header {
	margin: 2rem 0;
}

h1 {
	font-family: $serif-stack;

	&.page-title {
		margin-bottom: 0.5rem;
	}
}

a, a:hover, a:visited, a:active, a:link {
	color: $text-dark;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
