html {
 background-color: white;
}

body {
	background-color: $site-background;
	font-family: $sans-serif-stack;
	font-weight: 100;
	margin: 0 auto;
	max-width: $site-max-width;
}

div.content-wrapper {
	margin: 0 auto;
	max-width: $content-max-width;
}

header {
	padding: 2rem 0;
}

h1 {
	font-family: $serif-stack;

	&.page-title {
		margin: 0;
	}
}

a, a:hover, a:visited, a:active, a:link {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

input, select {
	font-size: 1rem;
}
